/*-----------------NAV BAR------------------ */

body {
  background-image: url(image.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.navbar-nav {
  text-align: right;
  margin-right: 20;
}

.navbar .navbar-toggler {
  opacity: 0;
  color: rgb(255, 255, 255);
}

.navbar .navbar-brand {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 30px;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.5px;
}

.navbar-brand img {
  width: 80px;
  height: 70px;
  margin-top: 2px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
}
.navbar {
  background-color: #0f617a !important;
  z-index: 2;
}
/*--------------------TABLE--------------*/


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff0000;
  color: white;
}

table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
}
@media screen and (max-width: 767px) {
  .name {
    display: none !important;
  }
}