body {
    background-size: cover;
    background-attachment: fixed;

 }
 
 *{
    margin:0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
body{
    overflow:visible;
}

.card-title{
    color:rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.card-text{
    color:rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
}

.container{
    z-index: 1;
}

.card {
    height: 550px;
    width: 500px;
}

.logo {
    width: 200px; 
    height: 150px;
}

.logo {
    position: absolute;
    top: 25%;
    bottom: 0%;
    left: 30%;
    right: 0%;
}


.coord4 {
    position: absolute;
    top: 53%;
    bottom: 50%;
    left: 15%;
    right: 50%;
    font-weight: bold;
}

.coord5{
    position: absolute;
    top: 58%;
    bottom: 50%;
    left: 15%;
    right: 10%;
    font-size: 15pt;
}

.coord6 {
    position: absolute;
    top: 68%;
    bottom: 50%;
    left: 15%;
    right: 50%;
    font-weight: bold;
}

.coord7 {
    position: absolute;
    top: 74%;
    bottom: 50%;
    left: 15%;
    right: 50%;
    font-size: 15pt;
}

.coord8 {
    position: absolute;
    top: 81%;
    bottom: 10%;
    left: 15%;
    right: 0%;
}


.coord9 {
    position: absolute;
    top: 89%;
    bottom: 10%;
    left: 16.5%;
    right: 0%;
}

.coord10 {
    position: absolute;
    top: 105%;
    bottom: 10%;
    left: 33%;
    right: 0%;
    text-decoration: none; 
    font-size: 15pt; 
    color: rgb(0, 99, 248);
}

.coord10:hover {text-decoration: underline;}
.button1 {
    padding: 10px 130px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(0, 99, 248);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px rgb(0, 41, 155);
}

.button1:hover {background-color: rgb(1, 49, 207);}
.button1:active {
    background-color: rgb(0, 99, 248);
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}